{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}

    <div class="container my-1">
        <h3>{{ 'home.menu.most_games'|trans }}</h3>
        <div class="row">
            {% include 'common/partial/game_loop.html.twig' with {
                    'games': alphaGames,
                    'classCss': 'col-20'
                }
            %}
        </div>

        <h3>{{ 'home.menu.recent_games'|trans }}</h3>
        <div class="row">
            {% include 'common/partial/game_loop.html.twig' with {
                'games': lastPublishedGames,
                'classCss': 'col-3'
            }
            %}
        </div>
    </div>

{% endblock %}
