
.col-20 {
  flex: 0 0 auto;
  width: 20%;
}

.container-image {

  height: 200px;

  &-higher {
    height: 280px;
  }

  &-logo {
    height: 80px;
    > img {
      width: auto;
    }
  }
}

.img-100 {
  height: 100%;
  width: 100%;
}

.btn-info {
  color: $background-lighter;
  border-color: $default-background-color-l15;
  background-color: $default-background-color;
  &:hover {
    color: $default-background-color;
    border-color: $default-background-color-l15;
    background-color: $default-background-color-l30;
  }
}
