{% extends 'base.html.twig' %}

{% block title %}{{ 'game.index.title'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% include 'common/partials/game_loop.html.twig' with
                {
                    'classCss': 'col-20',
                    'containerImage': 'container-image'
                }
            %}
        </div>
    </div>

{% endblock %}
